h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    font-weight: bold;
}

.tabulator-tableholder::-webkit-scrollbar {
    display: none;
}

.tabulator-tableholder {
    -ms-overflow-style: none;
    scrollbar-width: none;
}